@(message: String)

    <!DOCTYPE html>
        <html>
            <head>
            <title>Prueba técnica</title>
            <meta charset="UTF-8">
                </head>
                <body>
                    <h1>API Reference</h1>
                    <ul>
                        <li><a href="@routes.TwitterApiController.getLanguages()">Languages</a></li>
                        <li><a href="@routes.TwitterApiController.getFollowers()">Followers</a></li>
                    </ul>
                </body>
        </html>
